@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-primary: #fafafa;  
  --color-text-secondary: #fbbf24;
  --color-text-tertiary: #a1a1aa;
  --color-text-code: #fafafa;
  --color-text-icon: #c3c4c6;
  --color-text-btn: #18181b;
  --color-text-link: #38bdf8;

  --color-bg-primary: #18181b;
  --color-bg-secondary: #fbbf24;
  --color-bg-tertiary: #3f3f46;
  --color-bg-hover: #232324;
  --color-bg-tooltip: #1a1a1a;
  --color-bg-code: #202020;
  --color-bg-op: #5b21b6;
  --color-bg-btn: #fafafa;

  --color-border-primary: #2e2e2f;
  --color-border-secondary: #52525b;
}

body {
  color: var(--color-text-primary);
  background: var(--color-bg-primary)
}

@layer base {
  h2 {
    @apply text-xl;
    @apply text-center;
  }
}